body { 
  background-image:url(/images/Background-image.jpg);
  background-position:center;
  background-attachment: fixed;
  background-size: cover;
  color:#d5d7d8
}


h1{
 font-family:serif rgb(61, 7, 7);
 text-decoration: underline;
 font-size: 40px;
 border-style:solid;
 padding:15px;
}

.contact-page{
 background-color: #ac9393;
}
.header-name{
font-size: 30px;
display: flex;
justify-content: center;

}
body{
 box-shadow:2px black;

}

#links{
 display:flex;
 justify-content: space-between;
align-items:baseline;

}

.gears{
 width: 400px;
 float:right;
 margin:10px;
} 


.contact-form {
  display:flex;
  justify-content: center;
}

form{
 border:solid 3px;
 flex-direction:column;
 width: 30%;
 padding:10px;
}

.basketball, .wine-glass,.chairProject,
.project-2,.project-3{
 width: 250px;
 height:200px;
 margin:10px;
}

section{
 border-top:1px solid black;
 font-family:serif;
}

.basketball {
  float:right;
}
.wine-glass{
 float:left;
}

.soccer{
 width:400px;
 height:250px;
 float:right;
 margin:10px;
}

.chairProject{
 float:right;
}

.project-2{

 float:left;

}

.project-3{
 float:right;
}



.button-8 {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
}

.button-8:hover,
.button-8:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.button-8:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

form{
 display: flex;
}


/* body {
  display:none;
} */
/* @media(max-width:1224px) */